@import "colors.scss";

body{
    padding:0 50px;
    min-width: 350px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: $dark;
    line-height: 1.5em;
}
h1{
    font-size: 2.3em;
}
h2{
   font-size: 1.5em;
   font-weight: 600;
}
div{
    box-sizing: border-box;
}
strong{
    font-weight: 600;
}
section{
    width: 100%;
    margin-bottom: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: $bg-grey;
}
button,input,select,textarea,option{
    font-family: 'Open Sans', sans-serif;
//    font-weight: 400; 
    box-sizing: border-box;
    &:focus{
        outline: none;
    }
}
a{
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
}
input::placeholder{
    color: $border-grey;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.checkbox {
  display: none;
  border: none; }
  .checkbox + label::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    background-color: $border-grey;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    transform: translateY(2px); }
  .checkbox:checked + label::before {
    background-image: url(../img/Check%20Icon.png);
    background-color: $aqua;}
.checkbox:disabled + label {
    color: $border-grey;}
.checkbox:disabled + label:before{
    background-color: $border-grey;
}