@import "colors.scss";

body{
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $dark;
    line-height: 1.5em;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.5em;
   font-weight: 600;
}
strong{
    font-weight: 600;
}
section{
    width: 100%;
    margin-bottom: 50px;
}
button,input,select,textarea,option{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
    box-sizing: border-box;
    &:focus{
        outline: none;
    }
}
a{
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
}
input::placeholder{
    color: $border-grey;
}
.flex{
    display: flex;
    justify-content: space-between;
}