@import "colors.scss";

body{
    min-width: 320px;
}
nav{
    width: 100%; 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
}
.drop{
    position: relative;
}
button{
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
input{
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.search{
    width: 160px;
    padding: 12px 20px 12px 30px;
    background-image: url(../img/Search%20Icon.png);
    background-color: $search;
    background-repeat: no-repeat;
    background-position: left 12px center;
    border: none;
    border-radius:20px;
    box-sizing: border-box;
    font-weight: 600;
    color: #fff;
    &:focus{
        outline: none;
    }
}

.nav-1{
    padding: 18px 120px;
    background-color: $dark;
    li{
        display: inline-block;
    }
    a{
        color: #fff;
        padding: 10px 20px;
        &:hover{
            background-color: $aqua;
            border-radius: 15px;
        }
        &.not-hover{
            padding-left: 5px;
            &:hover{
                background-color: transparent;
            }
        }  
    }
    select{
        box-sizing: border-box;
        color: #fff;
        padding: 10px 30px 10px 20px;
        border: none;
        border-radius: 20px;
        background-color: $blue;
        background-image: url(../img/Open%20Icon%20Down.png);
        background-repeat: no-repeat;
        background-position: right 13px center;
        margin-right: 10px;
        -moz-appearance:none;
        -webkit-appearance:none;
        &:focus{
            outline: none;
        }
    }
    
}
.nav-2{
    background-color: $dark;
    padding: 0px 120px;
    li{
        display: inline-block;
        a{
            color: #fff;
            padding: 30px 25px;
            border-right: 2px solid #1c1b1b;
            &.not-hover{
                padding-left: 5px;
                &:hover{
                    background-color: transparent;
                }
            }
            &:hover{
                background-color: $yellow;
                outline:$yellow solid 2px 0px;
            }
        }
    }
    .search{
        margin-right: 10px;
        transform: translateY(-14px);
    }
    .photo{
        display: inline-block;
        margin-top: 20px;
    }
}
.nav-3{
    background-color: $bg-grey;
    padding: 20px 120px;
    li{
        margin-top: 24px;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-top: 12px;
        }
    }
    a{
        color: $search;
        font-weight: 600;
        &:hover{
            color: $blue;
        }
    }
    .search{
        background-color: #fff;
        background-image: url(../img/Search%20Icon.svg);
        border: 2px solid $light-grey;
        color: $dark;
        &::placeholder{
            color: $light-grey;
        }
    }
}
.nav-4{
    background-color: $bg-grey;
    padding: 20px 120px;
    ul{
        width: 50%;
        margin-top: 9px;
    }
    li{
        display: inline-block;
        a{
            color: $search;
            &:hover{
                color: $aqua;
            }
        }
    }
    span{
        color: $light-grey;
        margin-right: 15px;
    }
    button{
        width: 80px;
        height: 35px;
        background-color: $aqua;
        &:last-child{
            background-color: $blue;
            margin-left: 10px;
        }
    }
}
.nav-5{
    background-color: $bg-grey;
    padding: 20px 120px;
    .search{
        width: 510px;
        height: 48px;
        background-color: #fff;
        background-image: url(../img/Search%20Icon.svg);
        border: 2px solid $light-grey;
        border-radius: 5px;
        color: $dark;
        margin-right: 5px;
        &::placeholder{
            color: $light-grey;
        }
    }
    form{
        margin-top: 7px;
        align-items: center;
        button{
        height: 48px;
        width: 48px;
        background-color: $aqua; 
        }
        label{
            margin-right: 5px;
            color: $light-grey;
        }
    }
    a{
        margin-top: 7px;
       color: $search;
        font-weight: 600;
        &:last-child{
            color: #fff;
            padding: 15px 30px;
            background-color: $blue;
            border-radius: 25px;
            margin-left: 15px;
        }
    }
}
.nav-6{
    background-color: $bg-grey;
    padding: 30px 120px;
    .nav-6-first-list{
        width: 60%;
        li{
            display: inline-block;
            a{
                color: $search;
                padding-bottom: 10px;
                margin-top: 12px;
                &:hover{
                    border-bottom: 2px solid $blue;
                }
            }
            .not-hover{
                &:hover{
                    border-bottom: none;
                }
            }
            button{
                width: 117px;
                height: 37px;
                background-color: $aqua;
            }
        }
    }
    .nav-6-second-list{
        width:220px;
        li{
            &:first-child{
                padding-top: 10px;
                cursor: pointer;
            }
            img:last-child{
                margin-top: -10px;
            } 
            a{
                color: $light-grey;
                margin-top: 3px;
            }
        }
    }
}
.nav-7{
    font-weight: 600;
    .first-flex{
        padding: 40px 120px;
        background-color: $blue;
    }
    .nav-7-first-list{
        width: 60%;
        padding-top: 10px;
        a{
            position: relative;
            color: #fff;
            &:hover{
                color: $search;
                .pointer{
                    display: block;
                }
            }
        }
        .pointer{
            display: none;
            width: 15px;
            height: 15px;
            position: absolute;
            background-color: $blue;
            bottom: -59px;
            left: 25%;
            transform: rotate(45deg);
        }
    }
    .nav-7-second-list{
        width: 220px;
        li:first-child{
            padding-top: 10px;
        }
        a{
            padding: 10px 15px 10px 35px;
            color: #fff;
            background-image: url(../img/Basket%20Icon.svg);
            background-repeat: no-repeat;
            background-position: left 10px center;
            border: 2px solid #fff;
            border-radius: 5px;
        }
    }
    .second-flex{
        padding: 40px 120px;
        background-color: $dark-blue;
        li{
            line-height: 2em;
            color: #fff;
            a{
                color: $light-grey;
            }
        }
        .nav-7-photo{
            width: 500px;
            height: 100%;
            box-sizing: border-box;
            padding: 20px;
            margin-top: 5px;
            background-image: url(../img/nav-7-photo.png);
            background-size: cover;
            border-radius: 5px;
            h2{
                font-size: 3em;
                margin-bottom: 10px;
            }
            p{
                width: 70%;
            }
        }
    }
}
.nav-8{
    background-color: $dark;
    padding: 20px 120px;
    ul{
        max-width: 580px;
    }
    li{
        display: inline-block;
        a{
            color: $light-grey;
        }
    }
}
.nav-9{
    padding: 20px 120px 30px 120px;
    background-image: url(../img/nav-9-bgi.png);
    background-size: cover;
    .close{
        float: right;
        margin-right: -50px;
        margin-top: 5px;
        cursor: pointer;
    }
    ul{
        justify-content: center;
        align-items: center;
        li{
            display: inline-block;
            color: #fff;
            font-weight: 600;
            button{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $red;
                background-image: url('../img/Play%20Icon.svg');
                background-position: 50%;
                background-repeat: no-repeat;
                margin: 0 20px;
            }
        }
    }
}
.nav-10{
    background-color: $aqua;
    padding: 20px 120px;
    font-weight: 600;
    li{
        &:first-child{
            background-image: url(../img/Message%20Icon.svg);
            background-position: left 10px center;
            background-repeat: no-repeat;
            padding:10px 0 10px 40px;
            color: #fff;
            a{
                color: $search;
            }
        }
        button{
            padding: 10px 20px;
            background-color: $yellow;
            margin-right: 20px;
        }
    }
    img{
        cursor: pointer;
    }
}
.nav-11{
    padding: 30px 120px;
    background-color: $yellow;
    div{
        float: right;
    }
    p{
        max-width: 500px;
        margin: 0 auto;
        font-weight: 600;
        color: #fff;
        background-image: url(../img/Upload%20Icon.png);
        background-position: left center;
        background-repeat:no-repeat;
        padding-left: 30px;
    }
    .close{
        cursor: pointer;
    }
}
.nav-12{
    background-color: $bg-grey;
    padding: 20px;
    width: 90%;
    margin-left: 100px;
    font-weight: 600;
    border-radius: 5px;
    .logo{
        float: left;
    }
    div{
        width: 100%;
    }
    ul{
        margin: 25px 25px 0 0;
        padding-left: 25px;
        max-width: 570px;
    }
    li{
        a{
            color: $search;
        }
    }
    .search{
        padding: 0px 10px 0px 35px;
        height: 35px;
        border: 2px solid $light-grey;
        background-color: #fff;
        background-image: url(../img/Search%20Icon.svg);
        margin-top: 15px;
    }
}
.nav-13{
    background-color: $dark;
    padding: 30px 20px 20px 20px;
    width: 90%;
    margin-left: 100px;
    font-weight: 600;
    border-radius: 5px;
    ul{
        &:first-child{
            width: 60%;
            a{
                color: $light-grey;
                padding-right: 20px;
                &:hover{
                    color: $aqua;
                    background-image: url(../img/Open%20Icon.png);
                    background-repeat: no-repeat;
                    background-position: right center;
                }
            }
                 #menu-logo{
                    margin-right: 0;
                     background-image: none;
                }
        }
        &:last-child{
            width: 25%;
            button{
                background-color: $red;
                padding: 10px 20px;
                border-radius: 20px;
                margin-top: -10px;
            }
        }
    }
}
.nav-14{
    background-color: $bg-grey;
    padding: 20px 20px 0 20px;
    font-weight: 600;
    width: 90%;
    margin-left: 100px;
    border-radius: 5px;
    ul{
        &:first-child{
            width: 60%;
            li{
                padding-bottom: 20px;
                display: inline-block;
                position: relative;
                &:hover{
                    a{
                        color: $aqua;
                    }
                    .dropdown{
                        display: block;
                        a:first-child{
                            border: none;
                        }
                    }
                }
            }
            a{
                color: $search;
                padding: 25px 30px;
            }
            .dropdown{
                display: none;
                position: absolute;
                width: 200px;
                padding: 10px;
                top: 80px;
                line-height: 2em;
                background-color: $bg-grey;
                border-top: 2px solid $light-grey;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                li{
                    display: block;
                    padding-bottom: 0;
                    &:first-child{
                        padding-bottom: 10px;
                        margin-top: -10px;
                    }
                    a{
                    width: 100%;
                    padding: 5px 10px;
                    color: $search;
                    &:hover{
                        color: #fff;
                        background-color: $aqua;
                        border-radius: 5px;
                    }
                }
                }
                }
            .logo{
                padding: 0;
            }
            
        }
        &:last-child{
            li{
                display: inline-block;
                &:first-child{
                    padding-bottom: 30px;
                    position: relative;
                    transform: translateY(13px);
                    .dropdown{
                        display: none;
                        width: 200px;
                        position: absolute;
                        top: 70px;
                        left: -20px;
                        background-color: $aqua;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        li{
                            display: block;
                            line-height: 2em;
                            padding: 10px;
                            border-top: 2px solid rgba(0,0,0,.1);
                            &:first-child{
                                padding-bottom: 10px;
                                transform: translateY(0px);
                            }
                            a{
                                width: 100%;
                                color: #fff;
                                border: none;
                            }
                            &:hover{
                                background-color: $bg-grey;
                                a{
                                    color: $search;
                                    border: none;
                                }
                            }
                        }
                    }
                }
                a{
                    border: 2px solid transparent;
                }
                &:hover{
                    a{
                        border: 2px solid $aqua;
                        border-radius: 50%;
                    }
                    .dropdown{
                        display: block;
                    }
                }
                .search{
                    padding: 10px 10px 10px 35px;
                    border: 2px solid $light-grey;
                    background-color: #fff;
                    background-image: url(../img/Search%20Icon.svg);
                    margin-left: 10px;
                }
            }
        }
    }
}
.nav-15{
    flex-wrap: wrap;
    justify-content: space-around;
    &>div{
        margin-top: 20px;
    }
    .menu-1{
        height: 460px;
        width: 300px;
        flex-direction: column;
        background-image: url(../img/nav-15-bgi.png);
        background-size: cover;
        padding: 35px;
        .close{
            float: right;
            margin-top: -10px;
            cursor: pointer;
        }
        .flex{
            flex-direction: column;
            height: 100%;
        }
        li{
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;
            margin-bottom: 35px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        a{
            color: #fff;
        }
        .drop{
            display: none;
            padding-left: 15px;
            li{
                text-transform: none;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
        .menu-1-choosen{
            color: $light-grey;
            .drop{
                display: block;
            }
        }
    }
    .menu-2{
        width: 220px;
        height: 310px;
        padding: 30px;
        border-radius: 5px;
        background-color: $bg-grey;
        font-weight: 600;
        ul{
            flex-direction: column;
            height: 100%;
            li{
                width: 100%;
                margin-top: 10px;
                &:first-child{
                    a{
                        text-decoration: underline;
                        color: $blue;
                    }  
                    }
                a{
                    color: $search;
                    width: 100%;
                    padding: 10px;
                    &:hover{
                        background-color: $blue;
                        color: #fff;
                        border-radius: 5px;
                    }
                    &.after::after{
                        content: '3';
                        padding:2px 13px;
                        border-radius: 13px;
                        background-color: $red;
                        color: #fff;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .menu-3{
        ul{
            align-self: flex-start;
            width: 220px;
            background-color: $bg-grey;
            border-radius: 5px;
            font-weight: 600;
            li{
                color: $search;
                border-bottom: 2px solid rgba(0,0,0,.1);
                cursor: pointer;
                span{
                    display: inline-block;
                    padding: 25px;
                }
                &.second{
                    background-image: url(../img/Open%20Icon%20D.png);
                    background-repeat: no-repeat;
                    background-position:right 25px top 30px;
                }
                ul{
                    display: none;
                    width: 100%;
                    li{
                        width: 100%;
                        background-color: $aqua;
                        a{
                            padding: 25px;
                            width: 100%;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .menu-3-choosen{
            background-image: url(../img/Open%20Icon%20U.png);
            ul{
                display: block;
            }
        }
    }
    .menu-4{
        ul{
            li{
                a{
                width: 60px;
                height: 60px;
                background-color: $dark;
                border-bottom: 2px solid rgba(0,0,0,.3);
                border-top: 2px solid rgba(0,0,0,.3);
                margin-top: -4px;
                background-position: center;
                background-repeat: no-repeat;
                    &:hover{
                        background-color: $yellow;
                    }
                }
                &:nth-child(1){
                    a{
                    border-top: none;
                    margin-top: 0;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    background-image: url(../img/Home%20Icon.svg);
                    }
                }
                &:nth-child(2){
                    a{
                        background-image: url(../img/World%20Icon.svg);
                    }
                }
                &:nth-child(3){
                    a{
                        background-image: url(../img/Music%20Icon.svg);
                    }
                }
                &:nth-child(4){
                    a{
                        background-image: url(../img/Gamepad%20Icon.svg);
                    }
                }
                &:nth-child(5){
                    a{
                        border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border-bottom: none;
                    background-image: url(../img/Settings%20Icon%20nav-15.svg);
                    }
                }
            }
        }
    }
    .menu-5{
        ul{
            li{
                span,a{
                    display: inline-block;
                    cursor: pointer;
                    width: 60px;
                    height: 60px;
                    background-color: $bg-grey;
                    border-bottom: 2px solid rgba(0,0,0,.3);
                    border-top: 2px solid rgba(0,0,0,.1);
                    margin-top: -4px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &:nth-child(1){
                    span{
                        border-top: none;
                        margin-top: 0;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        background-image: url(../img/Zoom%20Icon.svg);
                    }
                }
                &:nth-child(2){
                    span{
                        background-image: url(../img/Edit%20Icon.svg);
                        appearance: none;
                    }
                }
                &:nth-child(3){
                    span{
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-bottom: none;
                        background-image: url(../img/Info%20Icon.svg);
                    }
                }
                #menu-5-droplist{
                    display: none;
                    margin-top: -2px;
                    width: 100%;
                            li{
                                a{
                                    background-color: $blue;
                                }                               
                                    &:nth-child(1){
                                        a{
                                            border-top-left-radius: 0;
                                            border-top-right-radius: 0;
                                            background-image: url(../img/Contrast%20Icon.svg);
                                        }
                                    }
                                    &:nth-child(2){
                                        a{
                                            background-image: url(../img/Center%20Icon.svg);
                                        }
                                    }
                                    &:last-child{
                                        a{
                                            background-image: url(../img/Frame%20Icon.svg);
                                        }
                                    }
                                
                            }
                        }
            }
            .menu-5-choosen{
                span{
                    background-color: $light-grey;
                }
                    #menu-5-droplist{
                        display: block;
                    }
                }
        }
    }
    .menu-6{
        margin-right: 50px;
        li{
                padding: 20px 40px;
                background-image: 
                    linear-gradient(-45deg,transparent 19px,$bg-grey 0),
                    linear-gradient(225deg,transparent 19px,$bg-grey 0);
                background-repeat: no-repeat;
                background-size: 100% 50%;
                background-position:bottom,top;
            
            &:first-child{
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:nth-child(2){
                background-size: 51% 50%;
                background-image: 
                    linear-gradient(-45deg,transparent 19px,$bg-grey 0),
                    linear-gradient(225deg,transparent 19px,$bg-grey 0),
                    linear-gradient(45deg,transparent 19px,$bg-grey 0),
                    linear-gradient(135deg,transparent 19px,$bg-grey 0);
                background-position:right bottom,right top,left top,left bottom;
                margin-left: -20px;
            }
            &:last-child{
                background-size: 100% 50%;
                background-image: linear-gradient(45deg,transparent 19px,$bg-grey 0),
                linear-gradient(135deg,transparent 19px,$bg-grey 0);
                background-position: left top,left bottom;
                margin-left: -20px;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }
            a{
                color: $search;
                font-weight: 600;
            }
        }
    }
    .menu-7{
        .flex{
            justify-content: flex-start;
            margin-top: 50px;
        }
        li{
            padding: 20px;
            background-repeat: no-repeat;
            background-position: right center;
            &:first-child{
                background-image: url(../img/Forward%20Icon.png);
            }
            &:nth-child(2){
                background-image: url(../img/Forward%20Icon.png);
            }
            a{
                color: $search;
                font-weight: 600;
            }
        }
    }
    .col-flex{
        flex-direction: column;
        justify-content: flex-start;
    }
}
.nav-16{
    font-weight: 600;
    color: $search;
    justify-content: space-around;
    .nav-16-menu-1{
        min-width: 460px;
        width: 45%;
        height: 190px;
        background-color: $bg-grey;
        border-radius: 5px;
        ul{
            position: relative;
            li{
                width: 33.34%;
                padding: 20px 35px;
                cursor: pointer;
                background-color: $yellow;
                color: #fff;
                &:first-child{
                    border-top-left-radius: 5px;
                }
                &:nth-child(3){
                    border-top-right-radius: 5px;
                }
            }
            .nav-16-menu-1-choosen{
                background-color: transparent;
                color: $search;
            }
        }
        p{
            display: none;
            box-sizing: border-box;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 25px;
        }
        .show{
            display: block;
        }
    }
    .nav-16-menu-2{
        ul{
            height: 190px;
            li{
                box-sizing: border-box;
                width: 150px;
                background-color: $blue;
                color: #fff;
                padding: 15px 35px;
                height: 25%;
                box-sizing: border-box;
                border-bottom: 2px solid rgba(0,0,0,.1);
                &:nth-child(3){
                    border-top-right-radius: 0;
                }
                &:nth-child(4){
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 5px;
                }
            }
        }
        p{
            right: 0;
            top: 0;
            left: 33.34%;
        }
        .nav-16-menu-2-choosen{
            background-color: transparent;
            color: $search;
        }
    }
}



@media screen and (min-width:1921px){
    body{
        font-size: 2em;
    }
    select{
        font-size: 1em;
        option{
            font-size: .5em;
        }
    }
    input{
        font-size: 1em;
    }
    button{
        border-radius: 10px;
    }
    .search{
        width: 320px;
        padding: 15px 40px 15px 60px;
        background-position: left 20px center;
        background-size: 30px;
        border-radius:40px;
    }
    
    .nav-1{
        padding: 30px 120px;
        a{
            padding: 15px 30px;
            &:hover{
                border-radius: 30px;
            }
            &.not-hover{
                img{
                    width: 40px;
                }
            }  
        }
        select{
            box-sizing: border-box;
            color: #fff;
            padding: 15px 50px 15px 40px;
            border-radius: 30px;
            background-size: 20px;
        }
    }
    .nav-2{
        li{
            a{
                padding: 50px 40px;
                border-right-width: 3px;
                &.not-hover img{
                    width: 40px;
                }
            }
        }
        .search{
            transform: translateY(-28px);
        }
        .photo{
            width: 80px;
            margin-top: 25px;
        }
    }
    .nav-3{
        padding: 40px 120px;
        li:first-child img{
            height: 100%;
        }
    }
    .nav-4{
        padding: 40px 120px;
        li:first-child img{
            width: 40px;
        }
        li:last-child img{
            width: 30px;
        }
        span{
            margin-right: 25px;
        }
        button{
            width: 160px;
            height: 70px;
            font-size: 1em;
        }
    }
    .nav-5{
        padding: 40px 120px;
        .search{
            width: 1020px;
            height: 96px;
            border-width: 3px;
            border-radius: 10px;
            margin-right: 10px;
        }
        form{
            button{
            height: 96px;
            width: 96px; 
            }
            label{
                margin-right: 10px;
            }
        }
        a{
            &:last-child{
                padding: 30px 60px;
                border-radius: 50px;
                margin-left: 25px;
            }
        }
    }
    .nav-6{
        padding: 60px 120px;
        .nav-6-first-list{
            li{
                a{
                    margin-top: 24px;
                    &:hover{
                        border-width: 4px;
                    }
                }
                .not-hover img{
                    width: 40px;
                }
                button{
                    width: 234px;
                    height: 74px;
                    font-size: 1em;
                }
            }
        }
        .nav-6-second-list{
            width:440px;
            li{
                &:first-child{
                    padding-top: 30px;
                    img{
                        width: 40px;
                    }
                }
                &:nth-child(2) img{
                    width: 100px;
                }
                a{
                    margin-top: 12px;
                }
            }
        }
    }
    .nav-7{
        .nav-7-first-list{
            .not-hover img{
                width: 40px;
            }
            .pointer{
                width: 30px;
                height: 30px;
                bottom: -90px;
            }
        }
        .nav-7-second-list{
            width: 440px;
            li:first-child img{
                width: 40px;
                margin-top: 5px;
            }
            li:last-child img{
                height: 100%;              
            }
            a{
                padding: 20px 30px 20px 70px;
                background-size: 40px;
                border-radius: 10px;
                border-width: 3px;
            }
        }
        .second-flex{
            padding: 40px 120px;
            background-color: $dark-blue;
            li{
                line-height: 2em;
                color: #fff;
                a{
                    color: $light-grey;
                }
            }
            .nav-7-photo{
                width: 50%;
                height: 300px;
                padding: 40px;
                border-radius: 15px;
                h2{
                    font-size: 2em;
                }
            }
        }
    }
    .nav-8{
        padding: 40px 120px;
        ul{
            max-width: 60%;
        }
    }
    .nav-9{
        padding: 40px 120px 60px 120px;
        ul{
            li{
                button{
                    width: 100px;
                    height: 100px;
                    background-size: 30px;
                    margin: 0 40px;
                }
            }
        }
        .close img{
            width: 20px;
        }
    }
    .nav-10{
        padding: 40px 120px;
        li{
            &:first-child{
                background-position: left 10px center;
                background-size: 40px;
                padding:20px 0 20px 80px;
            }
            button{
                padding: 20px 40px;
                font-size: 1em;
                margin-right: 40px;
            }
        }
        img{
            width: 20px;
        }
    }
    .nav-11{
        padding: 60px 120px;
        p{
            max-width: 1000px;
            background-size: 40px;
            padding-left: 60px;
        }
        .close img{
            width: 20px;
        }
    }
    .nav-12{
        padding: 20px;
        border-radius: 10px;
        img{
            width: 100px;
        }
        ul{
            margin: 30px 30px 0 0;
            padding-left: 50px;
            max-width: 1140px;
        }
        .search{
            padding: 0px 20px 0px 70px;
            height: 70px;
            border-width: 3px;
            margin-top: 15px;
        }
    }
    .nav-13{
        padding: 60px 40px 40px 40px;
        ul{
            &:first-child{
                a{
                    &:hover{
                        background-size: 15px;
                    }
                }
                     #menu-logo img{
                         width: 40px;
                    }
            }
            &:last-child{
                button{
                    background-color: $red;
                    padding: 20px 40px;
                    border-radius: 40px;
                    font-size: 1em;
                    margin-top: -20px;
                }
                img{
                    height: 30px;
                }
            }
        }
    }
    .nav-14{
        padding: 40px 40px 0 40px;
        border-radius: 10px;
        ul{
            &:first-child{
                li{
                    padding-bottom: 40px;
                    img{
                        width: 100px;
                    }
                }
                .dropdown{
                    width: 400px;
                    padding: 20px;
                    top: 120px;
                    border-top-width: 3px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    }

            }
            &:last-child{
                li{
                    &:first-child{
                        padding-bottom: 30px;
                        transform: translateY(0px);
                        img{
                            height: 80px;
                        }
                        .dropdown{
                            width: 400px;
                            top: 100px;
                            left: -40px;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            li{
                                padding: 20px;
                                border-top-width: 3px;
                                &:first-child{
                                    padding-bottom: 20px;
                                }
                            }
                        }
                    }
                    a{
                        border-width: 3px;
                    }
                    &:hover{
                        a{
                            border-width: 3px;
                        }
                    }
                    .search{
                        padding: 20px 20px 20px 70px;
                        border-width: 3px;
                        margin-left: 10px;
                        transform: translateY(-26px);
                    }
                }
            }
        }
    }
    .nav-15{
        .menu-1{
            height: 600px;
            width: 300px;
            padding: 70px;
            .close img{
                width: 20px;
            }
            .flex{
                flex-direction: column;
                height: 100%;
            }
            .drop{
                padding-left: 30px;
                li{
                    margin-top: 30px;
                }
            }
        }
        .menu-2{
            width: 300px;
            height: 510px;
            padding: 40px;
            border-radius: 10px;
            ul{
                li{
                    a{
                        &:hover{
                            border-radius: 10px;
                        }
                        &.after::after{
                            padding:4px 26px;
                            border-radius: 26px;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        .menu-3{
            ul{
                width: 400px;
                border-radius: 10px;
                li{
                    border-bottom-width: 3px;
                    span{
                        padding: 35px 50px;
                    }
                    &.second{
                        background-size: 20px;
                        background-position:right 25px center;
                    }
                    ul{
                        display: none;
                        width: 100%;
                        li{
                            width: 100%;
                            background-color: $aqua;
                            a{
                                padding: 25px;
                                width: 100%;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .menu-3-choosen{
                background-image: url(../img/Open%20Icon%20U.png);
                ul{
                    display: block;
                }
            }
        }
        .menu-4{
            ul{
                li{
                    a{
                        width: 120px;
                        height: 120px;
                        border-bottom-width: 4px;
                        border-top-width: 4px;
                        margin-top: -8px;
                        background-size: 40px;
                    }
                    &:nth-child(1){
                        a{
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        }
                    }
                    &:nth-child(5){
                        a{
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }
                }
            }
        }
        .menu-5{
            ul{
                li{
                    span,a{
                        width: 120px;
                        height: 120px;
                        border-bottom-width: 4px;
                        border-top-width: 4px;
                        margin-top: -8px;
                        background-size: 40px;
                    }
                    &:nth-child(1){
                        span{
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                    }
                    &:nth-child(3){
                        span{
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            background-size: 20px;
                        }
                    }
                    #menu-5-droplist{
                        margin-top: -4px;
                    }
                }
            }
        }
        .menu-6{
            margin-right: 100px;
            li{
                padding: 40px 80px;
                background-image: 
                        linear-gradient(-45deg,transparent 38px,$bg-grey 0),
                        linear-gradient(225deg,transparent 38px,$bg-grey 0);

                &:first-child{
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                &:nth-child(2){
                    background-image: 
                        linear-gradient(-45deg,transparent 38px,$bg-grey 0),
                        linear-gradient(225deg,transparent 38px,$bg-grey 0),
                        linear-gradient(45deg,transparent 38px,$bg-grey 0),
                        linear-gradient(135deg,transparent 38px,$bg-grey 0);
                    margin-left: -40px;
                }
                &:last-child{
                    background-image: linear-gradient(45deg,transparent 38px,$bg-grey 0),
                    linear-gradient(135deg,transparent 38px,$bg-grey 0);
                    margin-left: -40px;
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
        }
        .menu-7{
            .flex{
                margin-top: 100px;
            }
            li{
                padding: 40px;
                background-size: 12px;
            }
        }
    }
    .nav-16{
        .nav-16-menu-1{
            min-height: 360px;
            border-radius: 10px;
            ul{
                li{
                    padding: 40px 70px;
                    &:first-child{
                        border-top-left-radius: 10px;
                    }
                    &:nth-child(3){
                        border-top-right-radius: 10px;
                    }
                }
            }
            p{
                padding: 50px;
                line-height: 1.5em;
            }
        }
        .nav-16-menu-2{
            ul{
                min-height: 360px;
                li{
                    width: 300px;
                    padding: 30px 70px;
                    border-bottom-width: 4px;
                    &:nth-child(4){
                        border-bottom-left-radius: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:961px) and (max-width:1280px){
    .nav-5{
        .search{
            width: 350px;
        }
    }
    .nav-7{
        .second-flex{
            .nav-7-photo{
                max-width: 350px;
            }
        }
    }
}
@media screen and (min-width:721px) and (max-width:960px){
    .nav-1,.nav-2,.nav-3,.nav-4,.nav-5,.nav-6,.nav-7,.nav-8,.nav-9,.nav-10,.nav-11.nav-12{
        padding: 20px;
    }
    .nav-1,.nav-2{
        li{
            display: none;
            &:first-child{
                display: inline-block;
            }
        }
    }
    .nav-2{
        li:first-child a{
            border-right: none;
        }
    }
    .nav-3{
        a{
            font-size: .9em;
        }
    }
    .nav-4{
        ul{
            width: 10%;
        }
        li{
            display: none;
            &:first-child,&:last-child{
                display: inline-block;
            }
        }
    }
    .nav-5{
        .search{
            width: 250px;
        }
    }
    .nav-6{
        .nav-6-first-list{
            width: 30%;
            li{
                display: none;
                &:first-child,&:last-child{
                    display: inline-block;
                }
            }
        }
        .nav-6-second-list{
            width: 40%;
            li:last-child{
                display: flex;
                margin-top: 7px;
                a{
                    margin-top: 0;
                    margin-left: 15px;
                }
            }
        }
    }
    .nav-7{
        padding: 0;
        .first-flex{
            padding: 40px;
        }
        .nav-7-first-list{
            li{
                display: none;
                &:first-child{
                    display: inline-block;
                }
            }
        }
        .second-flex{
            padding: 40px;
            flex-wrap: wrap;
            &>ul{
                width: 100%;
                margin-bottom: 30px;
                text-align: center;
                font-size: 2em;
            }
            li{
                line-height: 2em;
                color: #fff;
                a{
                    color: $light-grey;
                }
            }
            .nav-7-photo{
                display: none;
            }
        }
    }
    .nav-9{
        li:nth-of-type(1),li:nth-of-type(3){
            display: none;
        }
    }
    .nav-11{
        padding: 20px;
    }
    .nav-12{
        margin-left: 0;
        width: 100%;
        font-size: .8em;
    }
    .nav-13{
        margin-left: 0;
        width: 100%;
        ul:first-child li{
           display: none;
            &:first-child{
                display: inline-block;
            }
        }
        ul:last-child{
            width: 50%;
        }
    }
    .nav-14{
        margin-left: 0;
        width: 100%;
        ul:first-child{
            width: 65%;
            a{
                padding: 25px 10px;
            }
        }
    }
    .nav-16{
        flex-wrap: wrap;
        .nav-16-menu-1{
            width: 100%;
            margin-bottom: 20px;
            line-height: 1.2em;
        }
        .nav-16-menu-2{
            p{
                line-height: 1.2em;
                left: 150px;
            }
        }
    }
}
@media screen and (min-width:320px) and (max-width:720px){
    .nav-1,.nav-2,.nav-3,.nav-4,.nav-5,.nav-6,.nav-7,.nav-8,.nav-9,.nav-10,.nav-11.nav-12{
        padding: 20px;
    }
    .nav-1{
        .flex{
            flex-direction: column;
            form{
                select, input{
                    width: 100%;
                    padding: 20px;
                    text-align: center;
                }
                select{
                    margin-bottom: 20px;
                    font-size: 1.2em;
                    padding-left: 43%;
                    font-weight: 600;
                }
            }
        }
        li{
            text-align: center;
            a{
                width: 100%;
                padding: 20px 0;
            }
            &:first-child{
                display: none;
            }
        }
    }
    .nav-2{
        flex-direction: column;
        .menu{
            li{
                display: block;
                text-align: center;
                &:first-child{
                    display: none;
                }
                a{
                    width: 100%;
                    border-right: none;
                }
            }
        }
        div{
            margin: 0 auto;
        }
    }
    .nav-3{
        .flex{
            flex-wrap: wrap;
            li{
                width: 100%;
                text-align: center;
                &:first-child{
                    display: none;
                }
            }
        }
    }
    .nav-4{
        flex-direction: column;
        ul{
            flex-direction: column;
            width: 100%;
            li{
                a{
                    width: 100%;
                    text-align: center;
                    padding: 20px 0;
                }
                &:first-child,&:last-child{
                    display: none;
                }
            }
        }
        div{
            display: flex;
            flex-direction: column;
            span{
                text-align: center;
                padding: 10px 0;
                margin-right: 0;
                margin-bottom: 20px;
            }
            button{
                width: 100%;
                padding: 15px 0;
                height: 50px;
                text-transform: uppercase;
                &:last-of-type{
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
    .nav-5{
        .flex{
            flex-direction: column;
            li{
                width: 100%;
                form{
                    label{
                        display: none;
                    }
                    button{
                        width: 100%;
                        img{
                            display: none;
                        }
                        &::before{
                            content: 'SEARCH';
                        }
                    }
                }
                &:first-child{
                    display: none;
                }
                a{
                    width: 100%;
                    text-align: center;
                    border-radius: 5px;
                    margin: 0;
                    &:first-of-type{
                        background-color: $yellow;
                        padding: 15px 0;
                        margin: 60px 0 10px 0;
                    }
                }
            }
        }
        .search{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .nav-6{
        flex-direction: column;
        .nav-6-first-list{
            flex-direction: column;
            width: 100%;
            li{
                text-align: center;
                &:first-child{
                    display: none;
                }
                &:last-child{
                    margin-top: 15px;
                }
                a{
                    width: 100%;
                    padding: 15px 0;
                    border-radius: 5px;
                    font-weight: 600;
                    &:hover{
                        border-bottom: none;
                        background-color: skyblue;
                    }
                }
                button{
                    width: 100%;
                    padding: 15px 0;
                    height: 50px;
                }
            }
        }
        .nav-6-second-list{
            width: 100%;
            flex-wrap: wrap;
            li{
                &:first-child{
                    width: 100%;
                    background-color: $yellow;
                    padding: 15px 20px;
                    box-sizing: border-box;
                    border-radius: 5px;
                    position: relative;
                    margin: 50px 0 30px 0;
                    &::before{
                        content: 'SETTINGS';
                        position: absolute;
                        font-weight: 600;
                        left: 50%;
                        transform: translateX(-50%);
                        color: $dark;
                    }
                }
            }
            li:nth-child(2){
                width: 20%;
            }
            li:last-child{
                width: 80%;
                display: flex;
                a{
                    width: 100%;
                    text-align: center;
                    margin-top: 0;
                    margin-left: 15px;
                    padding: 15px 0;
                    border-radius: 5px;
                    background-color: $blue;
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
    .nav-7{
        padding: 0;
        .first-flex{
            padding: 40px;
        }
        .nav-7-first-list{
            li{
                display: none;
                &:first-child{
                    display: inline-block;
                }
            }
        }
        .second-flex{
            padding: 40px;
            flex-wrap: wrap;
            &>ul{
                width: 100%;
                margin-bottom: 30px;
                text-align: center;
                font-size: 1.5em;
            }
            .nav-7-photo{
                display: none;
            }
        }
    }
    .nav-8{
        ul{
            max-width: 100%;
            flex-wrap: wrap;
        }
        li{
            width: 100%;
            a{
                width: 100%;
                padding: 15px 0;
                font-size: 1.5em;
                text-align: center;
            }
        }
    }
    .nav-9{
        li:nth-of-type(1),li:nth-of-type(3){
            display: none;
        }
    }
    .nav-10{
        .flex{
            flex-wrap: wrap;
            position: relative;
        }
        li{
            width: 100%;
            &:first-child{
                background-image: none;
                text-align: center;
                padding:30px 0 10px 40px;
                a{
                    width: 100%;
                    display: block;
                    margin-top: 15px;
                }
            }
            button{
                padding: 15px 0;
                width: 100%;
                margin-right: 0px;
                margin-top: 10px;
                text-transform: uppercase;
            }
        }
        img{
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    .nav-11{
        padding: 20px;
        div{
            margin-left: 20px;
        }
    }
    .nav-12{
        flex-wrap: wrap;
        margin-left: 0;
        width: 100%;
        .logo{
            display: none;
        }
        ul{
            flex-direction: column;
            li{
                width: 100%;
                a{
                    width: 100%;
                    padding: 15px 0;
                    text-align: center;
                }
            }
        }
        .search{
            width: 100%;
        }
    }
    .nav-13{
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        ul:first-child{
            width: 100%;
            flex-direction: column;
            li{
                width: 100%;
                a{
                    width: 100%;
                    text-align: center;
                    padding: 15px 0;
                }
            }
            li:first-child{
                display: none;
            }
        }
        ul:last-child{
            width: 100%;
            margin-top: 50px;
            flex-wrap: wrap;
            li{
                width: 33%;
                text-align: center;
                img{
                    height: 30px;
                }
                &:last-of-type{
                    width: 100%;
                    margin-top: 30px;
                    button{
                        width: 100%;
                        border-radius: 5px;
                        padding: 15px 0;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .nav-14{
        margin-left: 0;
        width: 100%;
        flex-direction: column;
        ul:first-child{
            width: 100%;
            flex-direction: column;
            li{
                width: 100%;
                &:first-of-type{
                    display: none;
                }
                &:hover{
                    .dropdown{
                        display: none;
                    }
                }
            }
            a{
                padding: 15px 10px;
                width: 100%;
                text-align: center;
            }
        }
        ul:last-child{
            display: flex;
            flex-direction: column;
            li{
                width: 100%;
                text-align: center;
                &:first-child .dropdown{
                    margin-top: 10px;
                    display: block;
                    position: static;
                    width: 100%;
                    border-radius: 5px;
                    li{
                        border: none;
                        padding: 0;
                        &:first-child{
                            padding-bottom: 0px;
                            position: static;
                        }
                        a{
                            padding: 15px 0;
                            border-radius: 0;
                            &:hover{
                                background-color: $yellow;
                            }
                        }
                    }
                }
                .search{
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .nav-16{
        flex-wrap: wrap;
        .nav-16-menu-1{
            min-width: 320px;
            width: 100%;
            height: 220px;
            margin-bottom: 20px;
            line-height: 1.2em;
            text-align: justify;
        }
        .nav-16-menu-2{
            min-width: 320px;
            height: 240px;
            ul{
                height: 100%;
                li{
                    width: 120px;
                    padding-left: 20px;
                }
            }
            p{
                line-height: 1.2em;
                left: 120px;
                text-align: justify;
            }
        }
    }
}