body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }
  body > section {
    padding: 25px 100px; }

.smooth {
  border-radius: 5px; }

.flex {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.social {
  width: 190px;
  padding: 20px 0;
  text-align: center;
  border-radius: 5px;
  color: #fff; }

.facebook {
  background-color: #3162a2; }

.twitter {
  background-color: #65abd0; }

div {
  background-color: #f2f5f8; }

header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

form {
  padding: 30px; }

a {
  display: inline-block;
  text-decoration: none;
  font-size: .8em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  height: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1em; }
  input.text, input.password, input.email, input.tel {
    border: 2px solid #c6ccd2;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 15px center;
    padding: 15px 15px 15px 45px;
    color: #383737; }
    input.text:focus, input.password:focus, input.email:focus, input.tel:focus {
      outline: none; }
    input.text::-webkit-input-placeholder, input.password::-webkit-input-placeholder, input.email::-webkit-input-placeholder, input.tel::-webkit-input-placeholder {
      font-weight: 600;
      color: #c6ccd2; }
    input.text:-ms-input-placeholder, input.password:-ms-input-placeholder, input.email:-ms-input-placeholder, input.tel:-ms-input-placeholder {
      font-weight: 600;
      color: #c6ccd2; }
    input.text::placeholder, input.password::placeholder, input.email::placeholder, input.tel::placeholder {
      font-weight: 600;
      color: #c6ccd2; }
  input.text {
    background-image: url(../img/E-mail%20Icon.svg);
    margin-bottom: 20px; }
  input.password {
    background-image: url(../img/Lock%20Icon.svg); }
  input.submit {
    font-size: 1em;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff; }

.select {
  border-radius: 5px;
  background-image: url(../img/Open%20Icon%20down.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1em; }
  .select:focus {
    outline: none; }

.checkbox {
  display: none;
  border: none; }
  .checkbox + label::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    background-color: #24aa98;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    margin-top: 20px;
    -webkit-transform: translateY(2px);
    transform: translateY(2px); }
  .checkbox:checked + label::before {
    background-image: url(../img/Check%20Icon.png); }

label {
  display: inline-block;
  color: #c6ccd2;
  font-size: .8em;
  margin-bottom: 20px; }

.divider {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #c6ccd2;
  text-align: center;
  margin: 20px 0; }
  .divider span {
    position: absolute;
    background-color: #f2f5f8;
    font-size: .8em;
    left: 44%;
    top: -.5em;
    color: #c6ccd2;
    padding: 0 10px; }

.section-1 header {
  width: 100%;
  height: 145px;
  background-size: cover;
  padding: 20px 15px;
  border-radius: 5px 5px 0 0; }
  .section-1 header a {
    color: #fff;
    float: right; }

.section-1 h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 2.3em;
  color: #fff;
  text-transform: uppercase; }

.section-1 form {
  padding-bottom: 0; }

.section-1 .flex {
  width: 100%;
  padding: 0 30px; }

.section-1 .text, .section-1 .password, .section-1 .submit {
  width: 100%; }

.section-1 .submit {
  background-color: #65abd0; }

.section-1 .section-1-div-1 {
  width: 455px;
  height: 525px; }
  .section-1 .section-1-div-1 header {
    background-image: url(../img/section-1-photo-1.png); }
  .section-1 .section-1-div-1 form a {
    width: 100%;
    text-align: center;
    color: #c6ccd2;
    margin: 20px 0; }

.section-1 .section-1-div-2 {
  width: 455px;
  height: 525px; }
  .section-1 .section-1-div-2 header {
    background-image: url(../img/section-1-photo-2.png); }
  .section-1 .section-1-div-2 .submit {
    background-color: #24aa98; }

.section-2 {
  margin-top: 50px; }
  .section-2 > div {
    width: 300px;
    padding: 20px; }
    .section-2 > div a {
      margin-top: 3px;
      color: #65abd0; }
  .section-2 form {
    padding: 20px 10px 10px 10px; }
  .section-2 form > a {
    width: 100%;
    text-align: center;
    color: #c6ccd2;
    margin: 20px 0; }
  .section-2 .text, .section-2 .password, .section-2 .submit {
    width: 100%; }
  .section-2 .social {
    margin: 0 10px;
    padding: 10px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: 15px center;
    margin-bottom: 15px; }
  .section-2 .facebook {
    background-image: url(../img/Facebook%20Logo.svg); }
  .section-2 .twitter {
    background-image: url(../img/Twitter%20Logo.svg); }
  .section-2 .section-2-div-1 .submit {
    background-color: #65abd0; }
  .section-2 .section-2-div-2 .text {
    background-image: url(../img/E-mail%20Icon%20section-2.svg); }
  .section-2 .section-2-div-2 .password {
    background-image: url(../img/Lock%20Icon%20section-2.svg); }
  .section-2 .section-2-div-2 .submit {
    background-color: #24aa98; }
  .section-2 .section-2-div-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
    padding: 0; }
    .section-2 .section-2-div-3 .form-1 {
      width: 300px;
      padding: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 30px; }
      .section-2 .section-2-div-3 .form-1 .submit {
        background-color: #db7560; }
    .section-2 .section-2-div-3 .form-2 {
      width: 300px;
      padding: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .section-2 .section-2-div-3 .form-2 form {
        width: 100%;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .section-2 .section-2-div-3 .form-2 p {
        margin: 20px 0;
        color: #c6ccd2;
        font-size: .8em; }
      .section-2 .section-2-div-3 .form-2 .text {
        width: 200px;
        height: 48px;
        margin-bottom: 0;
        margin-right: 7px; }
      .section-2 .section-2-div-3 .form-2 .submit {
        width: 48px;
        height: 48px;
        background-image: url(../img/Forward%20Icon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #d9c26c; }

.section-3 .section-3-textarea {
  width: 100%; }

.section-3 .text, .section-3 .email {
  width: 260px;
  height: 48px;
  background-image: none;
  padding-left: 15px; }

.section-3 .select {
  width: 260px;
  height: 48px;
  background-color: #65abd0;
  width: 260px;
  color: #fff;
  padding-left: 15px; }

.section-3 .textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 140px;
  border: 2px solid #c6ccd2;
  color: #383737;
  font-size: .8em;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }
  .section-3 .textarea:focus {
    outline: none; }

.section-3 .submit {
  background-color: #24aa98;
  float: right;
  width: 140px;
  margin-top: 20px; }

.section-3 .section-3-div-1 {
  padding: 20px;
  max-width: 620px; }
  .section-3 .section-3-div-1 form {
    width: 100%;
    padding: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px; }
    .section-3 .section-3-div-1 form div:last-child {
      width: 100%; }

.section-3 .section-3-div-2 {
  width: 300px;
  padding: 20px; }
  .section-3 .section-3-div-2 form {
    width: 100%;
    padding: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px; }
    .section-3 .section-3-div-2 form .text, .section-3 .section-3-div-2 form .email {
      width: 100%; }
    .section-3 .section-3-div-2 form .email {
      margin-bottom: 20px; }
    .section-3 .section-3-div-2 form div {
      width: 100%; }

.section-4 > div {
  padding: 20px; }

.section-4 h4 {
  margin-bottom: 30px; }

.section-4 form {
  padding: 10px; }
  .section-4 form h4 {
    margin: 30px 0 35px -10px; }

.section-4 input, .section-4 select {
  width: 272px; }

.section-4 label {
  font-size: 1em;
  margin-bottom: 10px; }

.section-4 a {
  color: #65abd0; }
  .section-4 a::before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url(../img/Back%20Icon.png);
    background-repeat: no-repeat;
    background-position: left bottom; }

.section-4 .flex {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section-4 .select {
  height: 48px;
  border: none;
  background-color: #d9c26c;
  color: #fff;
  padding-left: 15px; }

.section-4 .text, .section-4 .email {
  background-image: none;
  padding-left: 15px; }

.section-4 .tel {
  padding-left: 15px; }

.section-4 .submit {
  width: 185px;
  background-color: #24aa98;
  background-image: url(../img/Forward%20Icon.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: .4em; }

@media screen and (min-width: 1921px) {
  body {
    font-size: 2em; }
  .section-1 header {
    height: 290px;
    padding: 40px 30px;
    border-radius: 10px 10px 0 0; }
  .section-1 h1 {
    margin-top: 60px; }
  .section-1 .flex {
    padding: 0 60px; }
  .section-1 .section-1-div-1, .section-1 .section-1-div-2 {
    width: 910px;
    height: 1050px; }
    .section-1 .section-1-div-1 form input, .section-1 .section-1-div-2 form input {
      padding-left: 80px;
      height: 100px;
      background-size: 40px; }
      .section-1 .section-1-div-1 form input.submit, .section-1 .section-1-div-2 form input.submit {
        padding-left: 0; }
    .section-1 .section-1-div-1 form a, .section-1 .section-1-div-2 form a {
      margin: 40px 0; }
    .section-1 .section-1-div-1 form .checkbox + label:before, .section-1 .section-1-div-2 form .checkbox + label:before {
      width: 30px;
      height: 30px; }
    .section-1 .section-1-div-1 form .checkbox:checked + label:before, .section-1 .section-1-div-2 form .checkbox:checked + label:before {
      background-size: 17px; }
    .section-1 .section-1-div-1 form label, .section-1 .section-1-div-2 form label {
      margin: 15px 0 35px 0; }
    .section-1 .section-1-div-1 form .divider, .section-1 .section-1-div-2 form .divider {
      margin: 80px 0 40px 0; }
    .section-1 .section-1-div-1 .flex a, .section-1 .section-1-div-2 .flex a {
      width: 40%;
      margin-top: 50px; }
  .section-2 {
    margin-top: 100px; }
    .section-2 > div {
      width: 600px;
      padding: 40px; }
      .section-2 > div a {
        margin-top: 6px; }
    .section-2 form {
      padding: 40px 20px 20px 20px; }
      .section-2 form input {
        height: 80px;
        background-size: 35px;
        padding-left: 70px; }
        .section-2 form input.submit {
          padding-left: 0; }
    .section-2 form > a {
      margin: 40px 0; }
    .section-2 .social {
      width: 240px;
      margin: 0 20px;
      padding: 20px;
      background-position: 20px center;
      background-size: 30px 30px;
      margin-bottom: 30px; }
    .section-2 .section-2-div-2 .checkbox + label:before {
      width: 30px;
      height: 30px; }
    .section-2 .section-2-div-2 .checkbox:checked + label:before {
      background-size: 17px; }
    .section-2 .section-2-div-2 label {
      margin: 15px 0 35px 0; }
    .section-2 .section-2-div-3 .form-1 {
      width: 600px;
      padding: 60px;
      margin-bottom: 60px; }
    .section-2 .section-2-div-3 .form-2 {
      width: 600px;
      padding: 40px; }
      .section-2 .section-2-div-3 .form-2 p {
        margin: 40px 0; }
      .section-2 .section-2-div-3 .form-2 .text {
        width: 400px;
        height: 96px;
        margin-right: 14px; }
      .section-2 .section-2-div-3 .form-2 .submit {
        width: 96px;
        height: 96px;
        background-size: 15px;
        -webkit-transform: translateY(0);
        transform: translateY(0); }
  .section-3 .text, .section-3 .email {
    width: 520px;
    height: 96px;
    padding-left: 30px; }
  .section-3 .select {
    width: 520px;
    height: 96px;
    height: 96px;
    width: 520px;
    padding-left: 30px;
    background-size: 20px; }
  .section-3 .checkbox + label:before {
    width: 30px;
    height: 30px; }
  .section-3 .checkbox:checked + label:before {
    background-size: 17px; }
  .section-3 .textarea {
    border-radius: 10px;
    height: 280px;
    padding: 30px; }
  .section-3 .submit {
    width: 280px;
    height: 60px;
    margin-top: 40px; }
  .section-3 .section-3-div-1 {
    padding: 40px;
    max-width: 1240px; }
    .section-3 .section-3-div-1 form {
      padding: 20px;
      margin-top: 30px; }
  .section-3 .section-3-div-2 {
    width: 600px;
    padding: 40px; }
    .section-3 .section-3-div-2 form {
      padding: 20px;
      margin-top: 30px; }
      .section-3 .section-3-div-2 form .email {
        margin-bottom: 40px; }
  .section-4 > div {
    padding: 40px; }
  .section-4 h4 {
    margin-bottom: 60px; }
  .section-4 form {
    padding: 20px; }
    .section-4 form h4 {
      margin: 60px 0 70px -20px; }
  .section-4 input, .section-4 select {
    width: 544px;
    height: 96px; }
  .section-4 label {
    font-size: 1em;
    margin-bottom: 20px; }
  .section-4 .select {
    height: 96px;
    padding-left: 30px;
    background-size: 25px; }
  .section-4 .text, .section-4 .email {
    padding-left: 30px; }
  .section-4 .tel {
    padding-left: 30px; }
  .section-4 .submit {
    width: 370px; } }

@media screen and (min-width: 961px) and (max-width: 1280px) {
  body > section {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 20px; } }

@media screen and (min-width: 769px) and (max-width: 960px) {
  body > section {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px; }
  section > div {
    margin-bottom: 20px; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  body > section {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0px;
    margin-bottom: 20px; }
  section > div {
    margin-bottom: 20px; }
  .section-1 header {
    height: 125px; }
  .section-1 h1 {
    margin-top: 20px; }
  .section-1 .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .section-1 .flex a {
      width: 100%; }
      .section-1 .flex a.facebook {
        margin-bottom: 15px; }
  .section-1 .text, .section-1 .password, .section-1 .submit {
    width: 100%; }
  .section-1 .submit {
    background-color: #65abd0; }
  .section-1 .section-1-div-1, .section-1 .section-1-div-2 {
    width: 100%;
    height: 555px; }
  .section-2 > div {
    width: 100%;
    padding: 15px; }
  .section-2 .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .section-2 .social {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    text-transform: uppercase; }
  .section-2 .section-2-div-3 .form-1 {
    width: 100%; }
    .section-2 .section-2-div-3 .form-1 form {
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .section-2 .section-2-div-3 .form-2 {
    width: 100%; }
    .section-2 .section-2-div-3 .form-2 form {
      width: 100%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .section-2 .section-2-div-3 .form-2 .text {
      width: 100%;
      margin-bottom: 20px;
      margin-right: 0; }
    .section-2 .section-2-div-3 .form-2 .submit {
      width: 100%; }
  .section-3 .text, .section-3 .email {
    width: 100%; }
  .section-3 form > div {
    width: 100%; }
    .section-3 form > div:nth-of-type(2n) {
      margin-bottom: 20px; }
  .section-3 .select {
    width: 100%; }
  .section-3 .submit {
    width: 100%; }
  .section-3 .section-3-div-2 {
    width: 100%; }
    .section-3 .section-3-div-2 form .email {
      margin-bottom: 0px; }
  .section-4 h4 {
    margin-bottom: 20px; }
  .section-4 form .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .section-4 form .flex div {
      width: 100%;
      margin-bottom: 10px; }
    .section-4 form .flex a {
      width: 100%;
      padding: 15px 0;
      text-align: center;
      background-color: #fff;
      border: 2px solid #65abd0;
      border-radius: 5px;
      margin-top: 20px; }
    .section-4 form .flex .submit {
      margin-top: 20px;
      width: 100%; }
  .section-4 input, .section-4 select {
    width: 100%; } }
