@import "common.scss";

@mixin gradient($color-1,$color-2,$color-3){
    div{
        height: 50px;
        border-radius: 5px 5px 0 0;
        background-image: linear-gradient(to right,$color-1 33.34%,$color-2 0,$color-2 66.67%,$color-3 0);
    }
    span{
        padding-left: 20px;
        color: $color-2;
    }
}
@mixin button($border-rad,$f-size,$width,$height){
    cursor: pointer;
    font-size: $f-size;
    border: 2px solid $blue;
    color: #fff;
    background-color: $blue;
    width: $width;
    height: $height;
    border-radius: $border-rad;
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        background-color: midnightblue;
        border-color: midnightblue;
    }
}
@mixin button-big($border-rad,$width,$height){
    width: $width;
    height: $height;
    border-radius: $border-rad;
}
@mixin input($width,$height,$color,$bor-col,$bg-col,$border-rad...){
    width: $width;
    height: $height;
    color: $color;
    border: 2px solid $bor-col;
    background-color: $bg-col;
    border-radius: $border-rad;
    background-repeat: no-repeat;
    padding: 0 15px;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.sec-1{
    ul{
        flex-wrap: wrap;
    }
    h4{
        color: #fff;
        padding: 20px 0 10px 20px;
        font-size: .8em;
    }
    li{
        display: inline-block;
        width: 140px;
        height: 120px;
        border-radius: 5px;
        background-color: $dark;
        &:nth-child(1){
            @include gradient(#42c7b7,#24aa98,#1a9385);
        }
        &:nth-child(2){
            @include gradient(#77bfe5,#65abd0,#5093b7);
        }
        &:nth-child(3){
            @include gradient(#e8d48b,#d9c26c,#c9b248);
        }
        &:nth-child(4){
            @include gradient(#e79f91,#db7560,#c25842);
        }
        &:nth-child(5){
            @include gradient(#dee2e7,#c6ccd2,#b4bbc2);
        }
        &:nth-child(6){
            @include gradient(#494949,#383737,#262626);
            span{
                color: #c6ccd2;
            }
        }
    }
}
.sec-2{
    flex-wrap: wrap;
    button{
        margin-top: 10px;
        &:nth-child(1){
            @include button(0,1em,190px,60px);
        }
        &:nth-child(2){
            @include button(5px,1em,190px,60px);
        }
        &:nth-child(3){
            @include button(35px,1em,190px,60px);
        }
        &:nth-child(4){
            @include button(35px,1em,190px,60px);
            color: $blue;
            background-color: #fff;
        }
        &:nth-child(5){
            @include button(50%,1em,60px,60px);
            background-image: url(../img/Forward%20Icon.png);
        }
        &:nth-child(6){
            @include button(0px,.9em,140px,50px);
        }
        &:nth-child(7){
            @include button(5px,.9em,140px,50px);
        }
        &:nth-child(8){
            @include button(30px,.9em,140px,50px);
        }
        &:nth-child(9){
            @include button(30px,.9em,140px,50px);
            color: $blue;
            background-color: #fff;
        }
        &:nth-child(10){
            @include button(5px,.9em,50px,50px);
            background-image: url(../img/Menu%20Icon.svg);
            background-size: 40%;
        }
        &:nth-child(11){
            @include button(50%,.9em,50px,50px);
            background-image: url(../img/Back%20Icon.png);
        }
        &:nth-child(12){
            @include button(5px,.9em,100px,50px);
            border: none;
            padding-right: 20px;
            clip-path: polygon(0 0,75px 0, 100px 25px,75px 50px,0 50px);
        }
        &:nth-child(13){
            @include button(0,.8em,120px,35px);
        }
        &:nth-child(14){
            @include button(5px,.8em,120px,35px);
        }
        &:nth-child(15){
            @include button(20px,.8em,120px,35px);
        }
        &:nth-child(16){
            @include button(20px,.8em,120px,35px);
            background-color: transparent;
            color: $blue;
        }
        &:nth-child(17){
            @include button(5px,.8em,35px,35px);
            background-image: url(../img/Menu%20Icon.svg);
            background-size: 50%;
        }
        &:nth-child(18){
            @include button(50%,.8em,35px,35px);
            background-image: url(../img/Forward%20Icon.png);
            background-size: 20%;
        }
    }
    &>button:last-child{
            @include button(5px,.8em,100px,37px);
            border: none;
            padding-right: 20px;
            clip-path: polygon(0 0,82px 0, 100px 18px,100px 19px,82px 37px,0 37px);
        }
    div{
        display: inline-block;
        background-color: #609fc0;
        border-radius: 5px;
        margin-top: 10px;
        height: 35px;
            button{
                margin-top: 0;
                &:nth-child(1){
                    @include button(0,.8em,35px,35px);
                    margin-right: -2px;
                    background-image: url(../img/Back%20Icon.png);
                    background-size: 20%;
                    border-radius: 5px 0 0 5px;
                }
                &:nth-child(2){
                    @include button(0,.8em,35px,35px);
                    background-image: url(../img/Forward%20Icon.png);
                    background-size: 20%;
                    border-radius:0 5px 5px 0;
                }
            }
        }
}
.sec-3{
    flex-wrap: wrap;
    div{
        background-color: #269e8e;
        border-radius: 5px;
        button{
            @include button(0,1em,46px,46px);
            background-color: $aqua;
            border: none;
            border-radius: 5px 0 0 5px;
            &:first-child{
                background-image: url(../img/Align%20Left%20Icon.svg);
                margin-right: -2px;
            }
            &:nth-child(2){
                background-image: url(../img/Align%20Center%20Icon.svg);
                margin-right: -2px;
            }
            &:last-child{
                background-image: url(../img/Align%20Right%20Icon.svg);
                border-radius: 0 5px 5px 0;
            }
        }
    }
    form{
        input{
            &[type="text"]{
                @include input(220px,46px,$dark,$border-grey,transparent,5px 0 0 5px);
            }
            &[type="submit"]{
                @include input(75px,46px,#fff,$border-grey,$aqua,0 5px 5px 0);
                border: none;
            }
            &.first-form-text{
                border-right: none;
                margin-right: -4px;
            }
            &.second-form-text{
                border-radius: 0;
                border-right: none;
                border-left: none;
                margin:0 -4px;
            }
        }
    }
    select{
        @include input(110px,46px,#fff,$border-grey,$aqua,5px 0 0 5px);
        padding-left: 20px;
        border: none;
        -moz-appearance:none;
        -webkit-appearance:none;
        background-image: url(../img/Open%20Icon.png);
        background-position: right 15px center;
    }
    &>select{
        width: 75px;
        border-radius: 5px;
    }
}
.sec-4,.sec-5{
    input{
        @include input(220px,48px,$dark,$border-grey,transparent,5px);
        font-size: 1em;
        &:nth-child(2){
            border-color: $blue;
        }
        &:nth-child(3){
            border-radius: 25px;
            background-image: url(../img/Search%20Icon.svg);
            background-position: 15px center;
            padding-left: 45px;
        }
        &:nth-child(4){
            border-radius: 25px;
            border-color: $blue;
            background-image: url(../img/Search%20Icon%202.svg);
            background-position: 15px center;
            padding-left: 45px;
        }
        &.check{
            background-image: url(../img/Check%20Icon.png);
            background-position:right 15px center;
            border-color: $aqua;
        }
        &.delete{
            background-image: url(../img/Delete%20Icon.png);
            background-position:right 15px center;
            border-color: $red;
        }
    }
    div{
        width: 100%;
        margin-top: 20px;
        &>div{
            width: 220px;
            margin-top: 0;
            flex-wrap: nowrap;
            &.sec-4-div-1{
                input{
                    &[type="search"]{
                        width: 172px;
                        border-radius: 5px 0 0 5px;
                        border-right: none;
                    }
                    &[type="submit"]{
                        width: 48px;
                        border: none;
                        background-color: $border-grey;
                        background-image: url(../img/Search%20Icon%203.svg);
                        background-position: center;
                        border-radius: 0 5px 5px 0;
                        margin-left: -5px;
                    }
                }
            }
            &.sec-4-div-2{
                input{
                    &[type="search"]{
                        width: 162px;
                        margin-right: 5px;
                    }
                    &[type="submit"]{
                        width: 48px;
                        border: none;
                        background-color: $aqua;
                        background-image: url(../img/Search%20Icon%203.svg);
                        background-position: center;
                    }
                }
            }
        }
    }
}
.sec-5{
    input{
        height: 35px;
    }
}
.sec-6{
    textarea{
        width: 460px;
        height: 140px;
        box-sizing: border-box;
        border:2px solid $border-grey;
        border-radius: 5px;
        padding: 15px;
        &::placeholder{
            color: $border-grey;
        }
        &:last-child{
            border-color: $blue;
        }
    }
}
.sec-7{
    .select{
        width: 24%;
        min-width: 200px;
        li:first-child{
                margin-bottom: 50px;
            }
        select{
            width: 220px;
            height: 48px;
            color: #fff;
            background-color: $aqua;
            border: none;
            border-radius: 5px;
            padding-left: 18px;
            -moz-appearance:none;
            -webkit-appearance:none;
            background-image: url(../img/Open%20Icon.png);
            background-repeat: no-repeat;
            background-position: right 15px center; 
        }
        option{
            border: 0px;
            background-color: #1a9385;
            height: 48px;
            &:first-child{
                display: none;
            }
            &:nth-child(2){
                margin-top: -5px;
            }
        }
    }
    .radio-list{
        width: 24%;
        min-width: 200px;
    }
        li{
            line-height: 3em;
        }
        .radio{
            display: none;
        }
        .radio + label::before{
            content: '';
            box-sizing: padding-box;
            border: 3px solid $border-grey;
            cursor: pointer;
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $border-grey; 
            margin-right: 10px;
            transform: translateY(3px);
            transition: .3s ease;
        }
        .radio:checked + label::before {
            background-color: $blue;
            transition: .3s ease;
        }
        .radio:disabled + label{
            color: $border-grey;
        }
    .slide{
        width: 50%;
        min-width: 320px;
        input[type="radio"]{
            display: none;
        }
        input[type="radio"]+label::before{
            content: '';
            display: inline-block;
            width: 33px;
            height: 36px;
            border: 2px solid $border-grey;
            border-right: none;
            border-radius: 50% 0 0 50%;
            background-image: url(../img/bg-circle-text-on-transparent.svg),url(../img/bg-circle-grey.svg);
            background-repeat: no-repeat;
            background-position: 33px center,left 2px center;
            transition: .6s ease;
        }
        input[type="radio"]+label::after{
            content: '';
            display: inline-block;
            width: 33px;
            height: 36px;
            border: 2px solid $border-grey;
            border-left: none;
            border-radius: 0 50% 50% 0;
            background-image: url(../img/bg-circle-text-off.svg),url(../img/bg-circle-grey.svg);
            background-repeat: no-repeat;
            background-position: right center, right 32px center;
            transition: .6s ease;
        }
        input[type="radio"]:checked+label::before{
            content: '';
            border-color: $aqua;
            background-image: url(../img/bg-circle-text-on.svg),url(../img/bg-circle-aqua.svg);
            background-position: left 5px center,left 32px center;
            transition: .6s ease;
        }
        input[type="radio"]:checked+label::after{
            content: '';
            border-color: $aqua;
            background-image:url(../img/bg-circle-text-off-transparent.svg),url(../img/bg-circle-aqua.svg);
            background-position: right 33px center,right 2px center;
            transform: translateY(px);
            transition: .6s ease;
        }
        input[type="checkbox"]{
            display: none;
        }
        input[type="checkbox"]+label::before{
            content: '';
            display: inline-block;
            width: 33px;
            height: 36px;
            border: 2px solid $border-grey;
            background-color: $border-grey;
            border-right: none;
            border-radius: 50% 0 0 50%;
            background-image: url(../img/bg-circle-white.svg),url(../img/bg-circle-text-on-white.svg);
            background-repeat: no-repeat;
            background-position: left 2px center,5px center;
            transition: .6s ease;
        }
        input[type="checkbox"]+label::after{
            content: '';
            display: inline-block;
            width: 33px;
            height: 36px;
            border: 2px solid $border-grey;
            background-color: $border-grey;
            border-left: none;
            border-radius: 0 50% 50% 0;
            background-image: url(../img/bg-circle-white.svg),url(../img/bg-circle-text-off-white.svg);
            background-repeat: no-repeat;
            background-position: right 32px center,center;
            transition: .6s ease;
        }
        input[type="checkbox"]:checked+label::before{
            content: '';
            border-color: $aqua;
            background-color: $aqua;
            background-image: url(../img/bg-circle-white.svg),url(../img/bg-circle-text-on-white.svg);
            background-position: right -31px center, 5px center;
            transition: .6s ease;
        }
        input[type="checkbox"]:checked+label::after{
            content: '';
            border-color: $aqua;
            background-color: $aqua;
            background-image: url(../img/bg-circle-white.svg),url(../img/bg-circle-text-off-white.svg);
            background-position: right 2px center,center;
            transition: .6s ease;
        }
        li:first-child{
            margin-bottom: 20px;
            .flex{
                width: 100%;
                height: 3px;
                background-color: $border-grey;
                input{
                    -webkit-appearance:none;
                    -moz-appearance:none;
                    height: 3px;
                    margin: 0;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    &:focus{
                        outline: none;
                    }
                    &::-webkit-slider-thumb{
                        -webkit-appearance:none;
                        -moz-appearance:none;
                        width: 20px;
                        height: 20px;
                        box-sizing: border-box;
                        border-radius: 50%;
                        border: 2px solid #fff;
                        background-color: $yellow;
                        cursor: pointer;
                    }
                }
            }
        }
        li:nth-child(2){
            input{
                -webkit-appearance:none;
                -moz-appearance:none;
                width: 70%;
                height: 3px;
                margin-top: 15px;
            }
            input:focus{
                outline: none;
            }
            input::-ms-track{
                cursor: pointer;
            }
            input::-webkit-slider-thumb{
                -webkit-appearance:none;
                -moz-appearance:none;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border-radius: 50%;
                border: 2px solid #fff;
                background-color: $blue;
                cursor: pointer;
                margin-top: -8.5px;
            }
            input::-moz-range-thumb{
                -webkit-appearance:none;
                -moz-appearance:none;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                border-radius: 50%;
                border: 2px solid #fff;
                background-color: $blue;
                cursor: pointer;
            }
            input::-webkit-slider-runnable-track{
                width: 100%;
                height: 3px;
                background-color: transparent;
            }
            input::-moz-range-runnable-track{
                width: 100%;
                height: 3px;
            }
        }
        li:nth-child(3){
            div{
                min-width: 240px;
                width: 70%;
                height: 33px;
                position: relative;
                box-sizing: padding-box;
                border: 3px solid $border-grey;
                border-radius: 18px;
                background-color: $border-grey;
                background-image: linear-gradient(to right,$aqua 70%,transparent 0),
                    radial-gradient(circle at 70% 50%,$aqua 17px,transparent 0);
                background-repeat: no-repeat;
                background-position: center;
                span{
                    position: absolute;
                    color: #fff;
                    bottom: -6px;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }
        }
        .tooltip{
            position: relative;
            width: 120px;
            height: 35px;
            text-align: center;
            color: #fff;
            background-color: $dark;
            border-radius: 5px;
            font-size: .8em;
            h4{
                margin-top: -6px;
            }
            div{
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 3px;
                background-color: $dark;
                transform: rotate(45deg);
            }
            .tip-1{
                top: -5px;
                left: 54px;
            }
            .tip-2{
                top: 11px;
                left: -5px;
            }
            .tip-3{
                top: 11px;
                right: -5px;
            }
            .tip-4{
                bottom: -5px;
                left: 56px;
            }
        }
    }
}
.sec-8{
    margin-bottom: 30px;
    flex-wrap: wrap;
    .number{
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        border: 2px solid $border-grey;
        border-radius: 50%;
        top: -16px;
        background-color: #fff;
        text-align: center;
        padding-top: 7px;
    }
    .range{
        min-width: 460px;
        .range-1,.range-2{
            position: relative;
            width: 460px;
            height: 2px;
            .number{
                position: absolute;
                &:nth-child(2){
                    left: 217px;
                }
                &:nth-child(3){
                    right: 0;
                }
            }
        }
        .range-1{
            background-image: linear-gradient(to right,$aqua 130px,$border-grey 0);
            margin-bottom: 60px;
            div:nth-child(1){
                padding-top: 8px;
                border: none;
                background-color: $aqua;
                color: #fff;
            }
        }
        .range-2{
            background-color: $border-grey;
            margin-bottom: 50px;
            div{
                outline: #fff solid 2px;
                &:nth-child(2){
                    padding-top: 8px;
                    background-color: $blue;
                    border: none;
                    color: #fff;
                }
            }
        }
    }
    .pages{
        min-width: 460px;
        ul{
            width: 100%;
            a{
                text-decoration: none;
                display: inline-block;
            }
            &:first-child{
                margin-bottom: 30px;
                li:nth-of-type(2),li:nth-of-type(3),li:nth-of-type(4),li:nth-of-type(6),li:nth-of-type(7),li:nth-of-type(8){
                    a{
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        padding-top: 5px;
                        border: 2px solid transparent;
                        transform: translateY(-7px);
                        color: $dark;
                        &:hover{
                            border: 2px solid $border-grey;
                        }
                    }
                }  
                .pages-back{
                    color: $dark;
                    padding-left: 15px;
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8px' height='12px'><path d='M7 1 L 1 6 L 7 11' fill='transparent' stroke-width='2' stroke-linejoin='round' stroke='#383737'/></svg>");
                    background-repeat: no-repeat;
                    background-position: left top 3px;
                }
                .pages-next{
                    color: $dark;
                    padding-right: 15px;
                    background-image: url(../img/arrow%20-%20right.svg);
                    background-repeat: no-repeat;
                    background-position: right top 3px;
                }
            }
            &:last-child{
                padding: 0 30px;
                box-sizing: border-box;
                li{
                    color: $border-grey;
                }
                a{
                    color: $border-grey;
                    &:hover{
                        color: $dark;
                    }
                }
                .pages-back{
                    padding-left: 15px;
                    background-image: url(../img/arrow-2.svg);
                    background-repeat: no-repeat;
                    background-position: left top 3px;
                }
                .pages-next{
                    padding-right: 15px;
                    background-image: url(../img/arrow%20-%20right-2.svg);
                    background-repeat: no-repeat;
                    background-position: right top 3px;
                }
            }
        }
    }
}
.sec-9{
    .sec-9-menu{
        ul{
            width: 160px;
            &:first-child{
                border-bottom: 2px solid $border-grey;
            }
            li{
                font-size: .8em;
                color: $border-grey;
                &:first-child{
                    padding: 10px 20px;
                }
            }
            a{
                color: $dark;
                font-size: 1rem;
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                &:hover{
                    background-color: $blue;
                    color: #fff;
                }
            }
        }
    }
    .table{
        min-width: 460px;
        width: 70%;
        tr{
            border-bottom: 2px solid $border-grey;
        }
        .checked{
            color: $aqua;
        }
        th{
            color: $border-grey;
            font-size: .8em;
            text-align: left;
            padding-bottom: 15px;
            &:first-child{
                padding-left: 10px;
            }
            &:last-child{
                text-align: right;
            }
        }
        td{
            padding: 15px 10px 15px 0;
            &:first-child{
                color: $border-grey;
                padding-left: 10px;
            }
            &:last-child{
                text-align: right;
                padding-right: 0;
            }
            .checkbox+label::before{
                margin-right: 0;
                cursor: pointer;
                background-color: $border-grey;
            }
            .checkbox:checked+label::before{
                background-color: $aqua;
            }
        }
    }
}
.sec-10,.sec-11{
    div{
        box-sizing: border-box;
        padding: 20px;
        border-radius: 5px;
        &:nth-child(1){
            background-color: $aqua;
            margin-bottom: 30px;
        }
        &:nth-child(2){
            background-color: $yellow;
            margin-bottom: 30px;
        }
        &:nth-child(3){
            background-color: $red;
        }
        button{
            float: right;
            height: 12px;
            border: none;
            background-image: url(../img/Close%20Icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
        }
        p{
            padding-right: 20px;
            color: #fff;
        }
        input{
            width: 120px;
            height: 35px;
            border-radius: 5px;
            border: none;
            background-color: rgba(255,255,255,.4);
            color: #fff;
            margin-top: 15px;
        }
    }
}
.sec-11{
    flex-wrap: wrap;
    div{
        border: 2px solid $dark;
        min-width: 300px;
        max-width:49%;
        &:nth-child(1){
            background-color: transparent;
            button{
                background-image: url(../img/Close%20Icon%20drak.png);
                background-repeat: no-repeat;
            }
            h2{
                color: $dark;
            }
            p{
                color: $dark;
            }
            input{
                &.cool{
                    background-color: $aqua;
                }
                &.notsure{
                    background-color: $blue;
                }
            }
        }
        &:nth-child(2){
            background-color: $dark;
            h2{
                color: #fff;
            }
            input{
                &.cool{
                    background-color: transparent;
                    border: 2px solid $aqua;
                    color: $aqua;
                }
                &.notsure{
                    background-color: transparent;
                    border: 2px solid $yellow;
                    color: $yellow;
                }
            }
        }
        h2{
            font-size: 1.5em;
            margin-bottom: 20px;
        }
        input{
            width: 80px;
        }
    }
}



@media screen and (min-width:1921px){
    body{
        font-size: 2em;
    }
    .sec-1{
        ul.flex li{
            width: 280px;
            height: 240px;
            div{
                height: 100px;
            }
        }
    }
    .sec-2{
        button{
            &:nth-child(1){
                @include button-big(10px,380px,120px);
            }
            &:nth-child(2){
                @include button-big(10px,380px,120px);
            }
            &:nth-child(3){
                @include button-big(70px,380px,120px);
            }
            &:nth-child(4){
                @include button-big(70px,380px,120px);
            }
            &:nth-child(5){
                @include button-big(50%,120px,120px);
                background-size: 15%;
            }
            &:nth-child(6){
                @include button-big(0px,280px,100px);
            }
            &:nth-child(7){
                @include button-big(10px,280px,100px);
            }
            &:nth-child(8){
                @include button-big(60px,280px,100px);
            }
            &:nth-child(9){
                @include button-big(60px,280px,100px);
            }
            &:nth-child(10){
                @include button-big(10px,100px,100px);
            }
            &:nth-child(11){
                @include button-big(50%,100px,100px);
                background-size: 15%;
            }
            &:nth-child(12){
                @include button-big(10px,200px,100px);
                padding-right: 40px;
                clip-path: polygon(0 0,150px 0, 200px 50px,150px 100px,0 100px);
            }
            &:nth-child(13){
                @include button-big(0,240px,70px);
            }
            &:nth-child(14){
                @include button-big(10px,240px,70px);
            }
            &:nth-child(15){
                @include button-big(40px,240px,70px);
            }
            &:nth-child(16){
                @include button-big(40px,240px,70px);
            }
            &:nth-child(17){
                @include button-big(10px,70px,70px);
            }
            &:nth-child(18){
                @include button-big(50%,70px,70px);
            }
        }
        &>button:last-child{
                @include button-big(10px,200px,74px);
                padding-right: 20px;
                clip-path: polygon(0 0,164px 0, 200px 36px,200px 38px,164px 74px,0 74px);
            }
        div{
            border-radius: 10px;
            height: 70px;
                button{
                    &:nth-child(1){
                        @include button-big(0,70px,70px);
                        margin-right: -2px;
                        border-radius: 10px 0 0 10px;
                    }
                    &:nth-child(2){
                        @include button-big(0,70px,70px);
                        border-radius:0 10px 10px 0;
                    }
                }
            }
    }
    .sec-3{
        div{
            border-radius: 10px;
            button{
                width: 92px;
                height: 92px;
                border-radius: 10px 0 0 10px;
                background-size: 40%;
                &:last-child{
                    border-radius: 0 10px 10px 0;
                }
            }
        }
        form{
            display: flex;
            input{
                &[type="text"]{
                    width: 420px;
                    height: 92px;
                    border-radius: 10px 0 0 10px;
                }
                &[type="submit"]{
                    width: 120px;
                    height: 92px;
                    border-radius: 0 10px 10px 0;
                    font-size: 1em;
                }
            }
        }
        select{
            width: 210px;
            height: 92px;
            border-radius: 10px 0 0 10px;
            font-size: 1em;
            background-size: 10%;
            background-position: right 30px center;
            option{
                font-size: .5em;
                width: 210px;
            }
        }
    }
    .sec-4,.sec-5{
        input{
            width: 440px;
            height: 96px;
            border-radius: 10px;
            font-size: 1em;
            &:nth-child(3){
                border-radius: 50px;
                background-position: 30px center;
                background-size: 40px;
                padding-left: 90px;
            }
            &:nth-child(4){
                border-radius: 50px;
                background-position: 30px center;
                background-size: 40px;
                padding-left: 90px;
            }
            &.check{
                background-position:right 30px center;
                background-size: 30px;
            }
            &.delete{
                background-position:right 30px center;
                background-size: 25px;
            }
        }
        div{
            margin-top: 40px;
            &>div{
                width: 440px;
                &.sec-4-div-1{
                    input{
                        &[type="search"]{
                            width: 344px;
                            border-radius: 10px 0 0 10px;
                        }
                        &[type="submit"]{
                            width: 96px;
                            border-radius: 0 10px 10px 0;
                        }
                    }
                }
                &.sec-4-div-2{
                    input{
                        &[type="search"]{
                            width: 324px;
                        }
                        &[type="submit"]{
                            width: 96px;
                        }
                    }
                }
            }
        }
    }
    .sec-6{
        textarea{
            width: 920px;
            height: 280px;
            border-width: 3px;
            border-radius: 10px;
            padding: 30px;
            font-size: 1em;
        }
    }
    .sec-7{
        .select{
            select{
                width: 440px;
                height: 96px;
                border-radius: 10px;
                padding-left: 35px;
                font-size: 1em;
                background-size: 25px;
                background-position: right 30px center;
            }
            option{
                font-size: .5em;
            }
        }
        .radio + label::before{
                border-width: 6px;
                width: 24px;
                height: 24px;
                margin-right: 20px;
                transform: translateY(6px);
            }
        .checkbox+label::before{
            width: 36px;
            height: 36px;
            background-size: 50%;
            margin-right: 20px;
        }
        .slide{
            width: 50%;
            input[type="radio"]+label::before{
                width: 66px;
                height: 72px;
                border-width: 3px;
                background-size: 100%,64px;
                background-position: 66px center,left 4px center;
            }
            input[type="radio"]+label::after{
                width: 66px;
                height: 72px;
                border-width: 3px;
                background-size: 100%,64px;
                background-position: right -4px center, right 64px center;
            }
            input[type="radio"]:checked+label::before{
                background-position: left 10px center,left 64px center;
            }
            input[type="radio"]:checked+label::after{
                background-position: right 64px center,right 4px center;
            }
            input[type="checkbox"]+label::before{
                width: 66px;
                height: 72px;
                border-width: 3px;
                background-size: 100%,64px;
                background-position: left 4px center,10px center;
            }
            input[type="checkbox"]+label::after{
                width: 66px;
                height: 72px;
                border-width: 3px;
                background-size: 100%,64px;
                background-position: right 62px center,10px center;
            }
            input[type="checkbox"]:checked+label::before{
                background-position: right -62px center, 10px center;
            }
            input[type="checkbox"]:checked+label::after{
                background-position: right 4px center,10px center;
            }
            li:nth-child(2){
                input{
                    height: 5px;
                    margin-top: 30px;
                }
                input::-webkit-slider-thumb{
                    width: 40px;
                    height: 40px;
                    margin-top: -17px;
                }
                input::-moz-range-thumb{
                    width: 40px;
                    height: 40px;
                }
                input::-webkit-slider-runnable-track{
                    height: 5px;
                }
                input::-moz-range-runnable-track{
                    height: 5px;
                }
            }
            li:nth-child(3){
                div{
                    height: 66px;
                    border-width: 4px;
                    border-radius: 33px;
                    background-image: linear-gradient(to right,$aqua 70%,transparent 0),
                        radial-gradient(circle at 70% 50%,$aqua 34px,transparent 0);
                    span{
                        bottom: -12px;
                    }
                }
            }
            .tooltip{
                width: 240px;
                height: 70px;
                border-radius: 10px;
                h4{
                    margin-top: -12px;
                }
                div{
                    width: 24px;
                    height: 24px;
                    border-radius: 6px;
                }
                .tip-1{
                    top: -10px;
                    left: 108px;
                }
                .tip-2{
                    top: 22px;
                    left: -10px;
                }
                .tip-3{
                    top: 22px;
                    right: -10px;
                }
                .tip-4{
                    bottom: -10px;
                    left: 112px;
                }
            }
        }
    }
    .sec-8{
        margin-bottom: 60px;
        .number{
            width: 70px;
            height: 70px;
            border-width: 3px;
            top: -32px;
            padding-top: 14px;
        }
        .range{
            min-width: 900px;
            .range-1,.range-2{
                width: 900px;
                height: 4px;
                .number{
                    &:nth-child(2){
                        left: 424px;
                    }
                }
            }
            .range-1{
                background-image: linear-gradient(to right,$aqua 260px,$border-grey 0);
                margin-bottom: 120px;
                .number:nth-child(1){
                    padding-top: 20px;
                }
            }
            .range-2{
                div{
                    outline-width: 4px;
                    &:nth-child(2){
                        padding-top: 18px;
                    }
                }
            }
        }
        .pages{
            min-width: 920px;
            ul.flex{
                &:first-child{
                    margin-bottom: 30px;              
                }
                .pages-back{
                    padding-left: 30px;
                    background-size: .5em;
                }
                .pages-next{
                    padding-right: 30px;
                    background-size: .5em;
              }
            }
        }
    }
    .sec-9{
        .sec-9-menu{
            ul{
                width: 320px;
                &:first-child{
                    border-width: 3px;
                }
                li{
                    line-height: 2em;
                }
                a{
                    font-size: 1.2em;
                    width: 100%;
                    padding: 20px 40px;
                    border-radius: 10px;
                }
            }
        }
        .table{
            tr{
                border-width: 3px;
            }
            th{
                font-size: .8em;
                padding-bottom: 30px;
                &:first-child{
                    padding-left: 20px;
                }
            }
            td{
                padding: 30px 20px 30px 0;
                &:first-child{
                    color: $border-grey;
                    padding-left: 20px;
                }
                .checkbox+label::before{
                    width: 40px;
                    height: 40px;
                    background-size: 50%;
                }
            }
        }
    }
    .sec-10,.sec-11{
        div{
            padding: 40px;
            border-radius: 10px;
            button{
                height: 24px;
                width: 24px;
                border: none;
            }
            p{
                padding-right: 20px;
                color: #fff;
            }
            input{
                width: 240px;
                height: 70px;
                border-radius: 10px;
                margin-top: 25px;
                font-size: 1em;
            }
        }
    }
}
@media screen and (max-width:960px) and (min-width:721px){
    .sec-1{
        .flex{
            flex-wrap: wrap;
            li{
                margin-bottom: 10px;
            }
        }
    }
    .sec-3{
        &>div,&>form{
            margin-bottom: 10px;
        }
    }
    .sec-4,.sec-5{
        .flex{
            flex-wrap: wrap;
            &>input{
                width: 48%;
                margin-bottom: 10px;
            }
        }
    }
    .sec-6{
        flex-wrap: wrap;
        textarea{
            width: 100%;
            &:first-child{
                margin-bottom: 10px;
            }
        }
    }
    .sec-7{
        flex-wrap: wrap;
        .slide{
            width: 100%;
        }
    }
    .sec-8{
        &>div{
            width: 100%;
        }
    }
    .sec-11{
        &>div{
            max-width: 100%;
        }
    }
}
@media screen and (max-width:720px) and (min-width:320px){
    body{
        padding: 5px;
    }
    .sec-1{
        .flex{
            flex-wrap: wrap;
            li{
                margin-bottom: 10px;
            }
        }
    }
    .sec-3{
        &>div,&>form{
            margin-bottom: 10px;
        }
        form:nth-of-type(2){
            white-space: nowrap;
                input{
                    &[type="text"]{
                        width: 50%;
                    }
                    &[type="submit"]{
                        min-width: 30px;
                        width: 15%;
                        text-align: center;
                        padding: 0;
                    }
                    &[type="select"]{
                        width: 40px;
                    }
            }
        }
    }
    .sec-4,.sec-5{
        .flex{
            flex-wrap: wrap;
            &>input{
                width: 100%;
                margin-bottom: 10px;
            }
            &.sec-4-div-1{
                width: 100%;
                input{
                    &[type="search"]{
                        width: 80%;
                    }
                    &[type="submit"]{
                        width: 20%;
                    }
                }
            }
            &.sec-4-div-2{
                width: 100%;
                flex-wrap: nowrap;
                input{
                    &[type="search"]{
                        width: 80%;
                    }
                    &[type="submit"]{
                        width: 18%;
                    }
                }
            }
        }
    }
    .sec-6{
        flex-wrap: wrap;
        textarea{
            width: 100%;
            &:first-child{
                margin-bottom: 10px;
            }
        }
    }
    .sec-7{
        flex-wrap: wrap;
        .select,.radio-list,.slide{
            width: 100%;
        }
        .select select{
            width: 100%;
        }
        .radio-list{
            margin-bottom: 40px;
        }
    }
    .sec-8{
        &>div{
            width: 100%;
        }
        .pages{
            min-width: 320px;
        }
        .range{
            min-width: 320px;
            .range-1,.range-2{
                width: 100%;
                .number{
                    &:nth-child(2){
                        left: calc(50% - 18px);
                    }
                }
            }
        }
    }
    .sec-9{
        flex-wrap: wrap;
        &>div{
            margin-bottom: 40px;
        }
        .table{
            width: 100%;
            min-width: 320px;
            tr{
                td:nth-child(3),th:nth-child(3){
                    display: none;
                }
            }
        }
    }
    .sec-11{
        &>div{
            max-width: 100%;
        }
    }
}